<!DOCTYPE html>
<html>
  <head>
    <title>Trash Pandas</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
